#trusted-news,
#support-the-guardian,
#digital-subscription,
#support {
  background-color: #e0e4e8;
}

.trusted-news {
  background-color: #f6f6f6;
  border-top: 1px solid #afafaf;
  @include mq(desktop) {
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
  }
  &__right::before {
    background-color: #afafaf;
  }

}
