// Default breakpoints from Frontend
$mq-breakpoints: (
  mobile: 320px,
  mobileMedium: 375px,
  mobileLandscape: 480px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  leftCol: 1140px,
  wide: 1300px,
);

@font-face {
  font-family: "GuardianTitlepiece";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"),
    url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"),
    url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Guardian Headline Full";
  src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2") format("woff2"),
    url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff") format("woff"),
    url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// var
$textColor: #041f4a;

#trusted-news,
#support-the-guardian,
#digital-subscription,
#support {
  width: 100%;
  position: relative;
  padding: 0 !important;

  .fc-container__inner,
  .fc-slice,
  .facia-snap {
    overflow: hidden;
  }

  .facia-snap {
    padding: 0;
  }
}

.fc-container--thrasher {
  margin-bottom: 12px;
}

.trusted-news {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 12px;
  width: calc(100% - 12px);

  @include mq(mobileLandscape) {
    padding: 0 20px;
  }

  @include mq(leftCol) {
    flex-direction: row;
  }

  &__left {
    @include mq(leftCol) {
      position: absolute;
    }

    &__title {
      font-family: "Guardian Headline Full", Georgia, serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 115%;
      text-decoration: none;
      padding-top: 2px;
      float: none;
      width: 98%;
      margin-bottom: 1px;
      color: #506991;
      display:none;

      @include mq(leftCol) {
        display:block;
        color: $textColor;
        font-size: 1.5rem;
        padding-bottom: 0;
        position: absolute;
        top: 2px;
        width: 200px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;

    @include mq(desktop) {
      flex-direction: row;
    }

    @include mq(leftCol) {
      margin-top: 2px;
      margin-left: 150px;
    }
    @include mq(wide) {
      width: 740px;
      margin-left: 230px;
    }

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      display: none;

      @include mq(leftCol) {
        display: block;
      }
    }

    &__wrapper {
      width: 100%;
    }

    &__headline {
      font-family: "Guardian Headline Full", "Guardian Egyptian Web", Georgia,
        serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 115%;
      color: $textColor;
      width: 98%;
      margin-bottom: 12px;
      margin-top: 4px;

      @include mq(leftCol) {
        margin-left: 10px;
        margin-top: 2px;
      }
    }

    &__subheadline {
      font-family: "Guardian Headline Full", "Guardian Egyptian Web", Georgia,
        serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 115%;
      color: $textColor;
      width: 94%;
      margin-bottom: 0;

      @include mq(mobileMedium) {
        width: 90%;
      }

      @include mq(desktop) {
        width: 100%;
        width: 80%;
      }

      @include mq(leftCol) {
        margin-left: 10px;
      }

      @include mq(wide) {
        width:84%;
      }

      &:nth-last-child(1) {
        margin-bottom: 12px;
      }
    }

    &__buttons {
      font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial,
        "Lucida Grande", sans-serif;
      font-size: 17px;
      font-weight: 600;
      line-height: 115%;
      color: $textColor;
      margin-top: 12px;
      margin-bottom: 30px;

      @include mq(desktop) {
        display: flex;
        margin-right: 0;
        margin-top: 76px;
        margin-bottom:20px;
      }

      @include mq(leftCol) {
        position: absolute;
        right: 10px;
        bottom: 0;
      }

      @include mq(wide) {
        margin-left: 50px;
        margin-right: 80px;
      }
    }

    &__contribute {
      border-radius: 50px;
      padding: 11px 20px 12px 20px;
      background-color: #ffe500;
      border: 1px solid #ffe500;
      margin-top: 8px;

      @include mq(desktop) {
        height: 20px;
      }

      &:hover {
        text-decoration: none;
        background-color: #ffbb50;
        border: 1px solid #ffbb50;
      }
    }
  }
}

.interactive-atom {
  margin: 0;
  overflow: hidden;
}

.ios,
.android {
  .netflix-amazon {
    padding: 0 10px;

    @include mq(phablet) {
      margin: 0;
      max-width: none;
    }

    @include mq(tablet) {
      padding: 0 20px;
    }

    &__roundel {
      margin-right: 0 !important;
    }

    &__main {
      text-decoration: none;
    }
  }

  .interactive-atom {
    margin: 0;
  }
}
