<div class="trusted-news">
  <div class="trusted-news__left">
    <p class="trusted-news__left__title">Support the Guardian</p>
  </div>

  <div class="trusted-news__right">
    <div class="trusted-news__right__wrapper">
      <p class="trusted-news__right__headline">
        Support investigations like this
      </p>
      <p class="trusted-news__right__subheadline">
        Reinforce our independent reporting which exposes wrongdoing and demands
        redress
      </p>
    </div>
    <div class="trusted-news__right__buttons">
      <a
        href="https://support.theguardian.com/contribute?acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentType%22%3A%22ACQUISITIONS_THRASHER%22%2C%22componentId%22%3A%22lakeside_investigation_thrasher%22%2C%22campaignCode%22%3A%22lakeside_investigation_thrasher%22%7D&INTCMP=lakeside_investigation_thrasher"
        data-link-name="trusted news : subscribe"
        class="trusted-news__right__contribute"
        >Show your support</a
      >
    </div>
  </div>
</div>
