<div class="trusted-news">
  <div class="trusted-news__left">
    <p class="trusted-news__left__title">Support <span class='g-name'>The Guardian</span></p>
  </div>

  <div class="trusted-news__right">
    <div class="trusted-news__right__wrapper">
      <p class="trusted-news__right__headline">
        Subscribe for stories that must be told
      </p>
      <p class="trusted-news__right__subheadline">
        We give a voice to the voiceless. Power to the powerless. Become a digital subscriber today and help to fund our journalism.
      </p>
    </div>
    <div class="trusted-news__right__buttons">
      <!-- <a
        href="https://support.theguardian.com/contribute?acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentType%22%3A%22ACQUISITIONS_THRASHER%22%2C%22componentId%22%3A%22hpthrasher%22%2C%22campaignCode%22%3A%22hpthrasher%22%7D&INTCMP=hpthrasher"
        data-link-name="trusted news : contribute"
        class="trusted-news__right__contribute"
        >Contribute</a
      > -->
      <a href="https://support.theguardian.com/uk/subscribe/digital?REFPVID=k8ioax75g8h3drdbmicy&INTCMP=gdnwb_copts_hpthrasher_subscribe&acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentId%22%3A%22hpthrasher%22%2C%22componentType%22%3A%22ACQUISITIONS_THRASHER%22%2C%22campaignCode%22%3A%22gdnwb_copts_hpthrasher_subscribe%22%2C%22referrerPageviewId%22%3A%22k8ioax75g8h3drdbmicy%22%2C%22referrerUrl%22%3A%22https%3A%2F%2Fwww.theguardian.com%2Fuk%22%7D" data-link-name="trusted news : subscribe" class="trusted-news__right__contribute">Subscribe</a>
    </div>
  </div>
  <!-- <div class='trusted-news__right__roundel'>
    <svg class="trusted-news__roundel" width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true" focusable="false">
      <g fill="none" fill-rule="evenodd">
        <path d="M21 0C9.402 0 0 9.402 0 21c0 11.597 9.402 21 21 21s21-9.403 21-21C42 9.402 32.598 0 21 0"
          fill="#121212" />
        <path
          d="M24.15 5.269c3.287.423 6.887 2.245 8.296 3.537v5.942h-.743l-7.553-8.82v-.659zM22.57 5.968h-.084c-4.933 0-7.775 6.442-7.63 15.131v.032c-.145 8.69 2.697 15.132 7.63 15.132h.083v.669c-7.422.48-17.463-4.857-17.317-15.8v-.033C5.106 10.157 15.147 4.82 22.569 5.3v.669z"
          fill="#ffffff" />
        <path
          d="M34.72 22.795l-2.384.954v9.837c-1.342 1.143-4.621 2.925-7.901 3.538v-13.59l-2.385-.801v-.603h12.67v.665z"
          fill="#ffffff" />
      </g>
    </svg>
  </div> -->
</div>
